.link-component {
  all: unset;
}

.card {
  /* Position */
  /* Margin, padding and width */
  margin: 20px;
  padding: 20px;
  width: 100px;
  /* Display */
  /* Background */
  background-color: rgb(201, 201, 201);
  /* Font and text*/
  text-align: center;
  /* Border */
  border: solid 1px black;
  border-radius: 10px;
  /* Cursor */
  cursor: pointer;
  transition-duration: 0.5s;
}

.card:hover {
  transform: translateY(-5px) translateX(-5px);
  box-shadow: 5px 5px 10px 2px blue;
  cursor: pointer;
}

/* Position */
/* Margin, padding and width */
/* Display */
/* Background */
/* Font and text*/
/* Border */
/* Cursor */