.link-component {
  all: unset;
}

.categorypage-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    padding: 20px;
    text-align: center;
  }

  .names-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .video-name {
      margin: 10px;
      cursor: pointer;
    }

    .video-name:hover {
      color: blue;
    }
  }
}